<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Get Git Repo by User ID</title>
    <link rel="stylesheet" href="/style.css" media="screen">
  </head>
  <body>
    <h1>Get User's Repo</h1>
    <main>
      <article class="">
        Please enter a user_name to get user's repository page!
        <br>

        <form action="/repo" method="post">
          <label for="">User_Name</label>
          <input type="text" name="username">
          <input type="submit" name="commit" value="Get Repository">
        </form>

      </article>


      <div class="clearfix"></div>

      <br>
      <footer>
        This page was made in <%= Time.now %>
      </footer>
    </main>

  </body>
</html>
